<nav class="navbar navbar-dark bg-primary sticky-top">
    <a href="#" class="navbar-brand">
        Product Management App
    </a>

    <div style="color: white; font-weight: bolder">
       <p> Welcome! </p>
    </div>
</nav>